#contenedor div{
  border: 6px double rgba(255, 0, 0, 1);
  border-radius: 15px;
  box-shadow: 0px 0px 43px 6px rgba(255, 0, 0, 0.3);
}

#contenedor div img{
  border: 6px double rgba(255, 0, 0, 1);
  border-radius: 15px;
  box-shadow: 0px 0px 43px 6px rgba(255, 0, 0, 0.3);
}

a {
  border: 3px solid rgba(107, 3, 3, 1);
  border-radius: 10px;
  transition: box-shadow 300ms ease-out 30ms;
  background-color: darkgrey;
  font-family:'Franklin Gothic Medium'
}

a:hover {
  box-shadow: 0px 0px 20px 10px rgba(87, 0, 0, 0.3);
}

